.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.fd-c{
  flex-direction: column;
}
.jc-sb{
  justify-content: space-between;
}
.jc-sa{
  justify-content: space-around;
}
.jc-c{
  justify-content: center;
}
